@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
    height: 100vh;
}


.left {
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 34px;
    font-size: 18px;
    font-weight: 800;
    color: hsl(250, 89%, 69%);
    cursor: pointer;
}

.right {
    margin-left: 655px;
    margin-top: 22px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 470;
    font-size: 16px;
    cursor: pointer;
}

.navbar li a {
    color: black; 
    text-decoration: none;
}

li.home a {
    color: hsl(250, 89%, 69%);

}

.navbar a:hover {
    color: hsl(250, 89%, 69%);
}

.container {
    padding: 10px 0px;
    margin-bottom: 10px;
}

.left-left {
    margin-left: 170px;
    margin-top: 140px;
}

.left-left h2 {
    font-size: 26px;
}

.left-left h1 {
    font-size: 29px;
}

.left-left p {
    margin-top: 14px;
    font-weight: 500;
}

.img1 {
    margin-left: 700px;
    margin-top: 75px;
}

.img1 img {
    width: 57.8%;
    height: 330px;
    border-radius: 100%;

}

.container .left-left {
    margin-top: -300px;
}

.container .sociallinks li {
    list-style: none;
    display: inline;
    /* margin-top: 15px; */
    padding: 5px;
}

.container .sociallinks {
    margin-left: 173px;
    margin-top: 25px;
}

.sociallinks li i {
    color: hsl(250, 89%, 69%);
    font-size: 23px;

}

.container .bttn {
    margin-top: 25px;
    margin-left: 168px;

}

.container .bttn a {
    text-decoration: none;
    padding: 4px 21px;
    font-size: 15px;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background-color: hsl(250, 89%, 69%);
}

#about {
    padding: 8px 0px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    margin-top: 150px;
}

.about-col-1 img {
    margin-left: 160px;
    width: 50%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 50%;
    margin-left: 515px;
    margin-top: -370px;
}

.about-col-2 h2{
    font-weight: 600;
    font-size: 28px;
    color: #000
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: hsl(250, 89%, 69%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 60%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0px;
}

.tab-contents ul li span {
    color: hsl(250, 95%, 69%);
    font-size: 15px;
}

.tab-contents ul li p {
    font-size: 15px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* project*/
h1.sub-title span{
    color: hsl(250, 86%, 66%);
}
#projects {
    padding: 50px 168px;
    text-align: center;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    margin-top: 23px;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.8), hsl(250, 88%, 69%));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 700;
    margin-bottom: 13px;
    background: none;
    font-size: 20px;
}

.layer p {
    background: none;
    font-size: 13px;
    margin-bottom: 10px;
}

.layer a {
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer i {
    /* margin-top: 100px; */
    font-size: 23px;
    background: none;
    color: hsl(250, 89%, 69%);

}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left i {
    color: hsl(249, 15%, 74%);
    margin-right: 10px;
    font-size: 25px;
}
.contact-left i:hover{
    color: #000;
}

.contact-left p i {
    color: hsl(250, 89%, 69%);
}

.contact-left .social-icons {
    margin-top: 15px;
}

#contact { 
    margin-top: 50px;
    margin-left: 168px;
    display: flex;
}

.contact-right {
    margin-left: 85px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: hsl(248, 95%, 93%);
    padding: 13px;
    margin: 10px 0;
    font-size: 13px;
    border-radius: 2px;
}

.bttn2 {
    background:hsl(250, 86%, 66%);
    color: #fff;
    border: none;
    margin-top: 10px ;
    padding: 7px;
    width: 18%;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
}
.bttn2:hover{
    background-color: hsl(250, 85%, 69%);
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 16px 0;
    background: hsl(250, 93%, 72%);
    color:#fff;
    font-weight: 300;
    margin-top: 25px;
    /* background: #8957E5; */
}